@model ZONAUTO.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContrasenaHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContrasenaHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habilitado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Verificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Verificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Persona.PersonaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoUsuario.TipoUsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsuarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
