@model IEnumerable<ZONAUTO.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrecioFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comprador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comprador.CompradorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oferta.OfertaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicacion.PublicacionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaccion.TransaccionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.VendedorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VentaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VentaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VentaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
